nav{
    /* background-color: blanchedalmond;
    border: 2px solid black; */
    height: 100px;
    /* color: black; */
    padding-top: 50px;
    padding-left: 50px;
}

.main{
    margin-left: 60rem;
    padding: 10px;
}
.home{
    padding: 10px;
}
.new{
    padding: 10px;
}
.pop{
    padding: 10px;
}
.trnd{
    padding: 10px;
}
.cat{
    padding: 10px;
}
#bg{
    display: flex;
    justify-content: space-between;
}
.sub{
    background-color: rgb(0, 1, 14);
    color: white;
    height: 600px;
    width: 300px;
    margin-right: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.nw{
    color: orange;
}
#abc{
    display: flex;
}
.future{
    height: 50px;
    width: 170px;
    margin-top: -155px;
    color: rgb(0, 1, 14);
    /* font-size: larger;
    font-weight: bolder; */

}
.suii{
    margin-top: -155px;
    width: 600px;
    margin-left: 200px;

}

#btn{
    margin-top: -24px;
    margin-left: -580px;
    background-color: tomato;
    color: black;
    width: 150px;
}

#cmp{
    display: flex;
}

.num{
    color: tomato;
    margin-left: 20px;
}
.pcs{
    margin-top: 60px;
    margin-left: -24px;
}
.sub_pc{
    margin-top: 91px;
    margin-left: -131px;
    width: 185px;    
}
.num1{
    color: tomato;
    margin-left: 20px;
}
.lap{
    margin-top: 60px;
    margin-left: -24px;
}
.sub_lap{
    margin-top: 91px;
    margin-left: -131px;
    width: 185px;
}
.num2{
    color: tomato;
    margin-left: 20px;
}
.stick{
    margin-top: 60px;
    margin-left: -24px;
}
.sub_stick{
    margin-top: 91px;
    margin-left: -131px;
    width: 185px;
}